@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;500&family=Lato:wght@300&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300&family=Poppins:wght@300&family=Quicksand:wght@300&family=Roboto:wght@300&display=swap');

/* Element styles */

* {
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  /* border: 1px solid red; */
}

body, html {  /* Zero-out browser defaults */
    margin: 0;
    padding: 0;
}

html {
    background-color: #023047;
    margin: 0.5em;
    padding: 0.5em;
}

/* Styles for navigation area and header */

nav {
    padding: 0.25em;
    background-color: #cbf3f0;
}

nav a {
    padding: 0.25em;
    text-decoration: none;
    color:#595959;
    font-weight: bold;
}

nav a:hover {
    background-color:lightgoldenrodyellow;
    padding: 0.25em;
}

a:link {
    color: #000;
}

a:visited {
    color: #595959
}

/* Styles for headings and main content  */

main {
    padding: 1em;
    width: auto;
    margin: auto;
    background-color:#ffffff;
}

h1 {
    padding: 0.25em;
    background-color:#009999;
    color:whitesmoke;
    text-align: center;
    border-left-style:double;
    border-right-style:double;
    border-top-style:double;
    border-bottom-style:double;
}

h2, h3 {
    color:#006D6F;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h3 {
   font-style: italic;
}

p {
    line-height: 1.5em;
}

ul {
    list-style-type: square;
}

img {
    border: 2px solid black;
    border-radius: 6px;
}

#videointro {
   clear: left;
}

.stress {
    float:left;
    height: auto;
    margin-left: 40px;
    margin-right: 60px;
    margin-bottom: 30px;
}

.video {
    margin-left: 40px;
    margin-bottom: 30px;
    border: 2px solid black;
    border-radius: 6px;

}

.congrats {
    display:block;
    width: 48%;
    border-style: none;
    border-radius: 0%;
}

#testform {
    padding: 1em;
    margin-bottom: 1em;
    border:  2px solid  #000;
    border-radius: 6px;
    width: 46%;
    margin-right: auto;
    background-color:azure;
}

input {
    border-radius: 5px;
    width: 300px;
}

input:focus {
    background-color: beige;
}

input[type=submit] {
    background-color: black;
    max-width: fit-content;
}

#submit {
    color: white;
    font-size:medium;
    font-weight:bold;
    padding: 0.5em;
}

.boldlist {
    font-weight: bold;
}
/* Styles for the footer */

.footer-center p {
    color:#ffffff;
    text-align: center;
    font-size: small;
}

/* Styles for responsive layouts */
.col-25 {
    padding: 1em;
    background-color:beige;
    width: 25%;
    float: left;
}

.col-75 {
    padding: 1em;
    background-color:#c7f9cc;
    width: 75%;
    float: left;
}

.partc {
    clear: left;
}

.center {
    display: block;
    margin: auto;
}


@media screen and (max-width: 600px) {
    .col-75, .col-25, .center, #testform, .congrats {
      
        width: 100%;
        height: auto;
      
    }

    .stress {
        float:none;
        height: auto;
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;;
    }

    .video {
        max-width: 100%;
        margin-left:0;
        margin-right: 0;
    }

}






